streamlit
numpy>=2.0.0
pandas>=2.1.0
scikit-learn>=1.4.0
matplotlib>=3.8.0
seaborn>=0.13.0
xgboost>=2.0.0
catboost>=1.2.0
joblib>=1.3.0
sklearn.model_selection>=1.4.2
sklearn.ensemble >=1.4.2
sklearn.tree >=1.4.2
sklearn.linear_model >=1.4.2
sklearn.metrics >=1.4.2
